.results-text {
	color: #7C7C7C;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 15px;
}
.filter-box {
    box-shadow: -2px 5px 10px 5px #F0F0F0;
    margin-top: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 10px;
}
#fusion .filter-box .leaving-wrap {
    position: relative;
    box-sizing: border-box;
    padding-right: 30px;
}
#fusion .filter-box input[type="text"] {
    border: none;
    color: #292929;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #D5D5D5;
	padding-top: 10px;
}
#fusion .filter-box .leaving-wrap a.cancel {
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 20px;
    color: #292929;
}
#fusion .filter-box button {
	display: block;
	margin: 0 auto;
	width: 95%;
}

#fusion .results-bottom {
    padding: 25px 0 40px;
}
#fusion .results-bottom a, #fusion .results-bottom p {
    font-size: 12px;
    color: #373737;
    font-weight: 300;
}
#fusion .results-bottom .next-prev {
    box-sizing: border-box;
    padding-left: 50px;
}
#fusion .results-bottom a.end {
    color: #7c7c7c;
}
#fusion .results-bottom .next-prev .next {
    text-align: right;
}
#fusion .filters-sidebar {
	padding-right: 30px;
	box-sizing: border-box;
}
#fusion .filters-sidebar input[type=checkbox] {
    float: left;
    margin: 4px 14px 10px 0;
    font-size: 12px;
}
#fusion .filters-sidebar label:after {
    content: '';
    display: block;
    clear: both;
}
#fusion .result {
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 15px;
}
#fusion .result h4 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 10px;
	color: #7C7C7C;
	margin-bottom: 30px;
}
#fusion .result h2 {
	font-size: 18px;
	font-weight: 400;
}
#fusion .result p {
	font-size: 12px;
}
#fusion .mobile-sort-filters .fusion-select {
	width: 95px;
}
#fusion .mobile-sort-filters {
	font-size: 12px;
	margin-bottom: 20px;
}
#fusion .mobile-sort-filters select {
	border: none;
	padding: 0 5px;
	text-decoration: underline;
	font-size: 12px;

}


/* DESKTOP - Tablet */
@media (min-width: 768px) {
    #banner {
        height: 702px;
    }
}

/* DESKTOP */
@media(min-width: 1040px) and (max-width: 1469) {

}

/* TABLET */
@media (min-width: 768px) and (max-width: 1039px) {

}

/* MOBILE */
@media (max-width: 766px) {
	#fusion .results-bottom p {
	    text-align: center;
	}
	#fusion .results-bottom .next-prev {
	    box-sizing: border-box;
	    padding-left: 0;
	    margin-top: 20px;
	}
	#fusion .results-bottom .next-prev a {
	    display: block;
	}
	#fusion .results-bottom .next-prev .prev {
	    text-align: right;
	    padding-right: 15px;
	}
	#fusion .results-bottom .next-prev .next {
	    text-align: left;
	    padding-left: 15px;
	}
	.fusion-container {
		padding: 0 5px;
	}
	#fusion .result h4 {
		margin-bottom: 15px;
	}
	#fusion .result h2 {
		margin-bottom: 8px;
	}
	.mobile-search-bar {
	    display: none;
	}
	form.mobile-search-bar.open-filters {
		position: fixed;
	    background: #fff;
	    width: 100%;
	    z-index: 1;
	    top: 0;
	    overflow-y: scroll;
	    max-height: 100%;
	    display: block;
	    height: 100%;
	}
}

