<header id="navbar">
	<div class="pure-g row top-section fusion-middle">
		<div class="pure-u-1 navbar">
			<a href="/cancun/">
				<i class="icon icon-logo"></i>
				<i class="icon icon-logo-white"></i>
			</a>
			<nav class="right top">
				<ul class="hide-for-small Menu -vertical">
					<li class="-hasSubmenu nav-item">
						<a href="#" data-icon="apps">EXPLORE</a>
						<ul>
							<li><a class="gray-underline" href="#">CHETUMAL</a></li>
							<li><a class="gray-underline" href="#">THE CITY OF CANCUN</a></li>
							<li><a class="gray-underline" href="#">COZUMEL</a></li>
							<li><a class="gray-underline" href="#">HOLBOX</a></li>
							<li><a class="gray-underline" href="#">TULUM</a></li>
							<li><a class="gray-underline" href="#">CHITCHEN ITZA</a></li>
							<li><a class="gray-underline" href="#">ISLA MUJERES</a></li>
							<li><a class="gray-underline" href="#">MERIDA</a></li>
							<li><a class="gray-underline" href="#">PLAYA DEL CARMEN</a></li>
							<li class=""><a href="#">RIVIERA MAYA</a></li>
						</ul>
					</li>
					<li class="-hasSubmenu  nav-item">
						<a href="#" data-icon="apps">EXPERIENCE</a>
						<ul>
							<li class="-hasSubmenu">
								<a href="#" class="gray-underline">On Land &bull;</a>
								<ul class="lower-menu">
									<li class="-hasSubmenu gray-underline">
										<a href="#" class="third-level-menu-title">Natural Wonders &bull;</a>
										<ul class="third-level-menu">
											<li><a href="#">Cenotes</a></li>
											<li><a href="#">Zoos and Reserves</a></li>
											<li><a href="#">Beaches</a></li>
											<li class="gray-underline"><a href="#">Jungle and Wildlife Tours</a></li>
										</ul>
									</li>
									<li><a href="#">Golfing</a></li>
									<li><a class="will-overlap" href="#">Eco Parks and Theme Parks</a></li>
									<li><a href="#">Ancient Ruins</a></li>
									<li><a href="#">Culture and History</a></li>
									<li class="gray-underline will-overlap"><a href="#">Flyovers, Skydiving, and Air Tours</a></li>
								</ul>
							</li>
							<li class="-hasSubmenu">
								<a href="#" class="gray-underline">On Sea &bull;</a>
								<ul class="lower-menu">
									<li><a href="#">Scuba + Snorkel</a></li>
									<li><a href="#">Underwater Museum</a></li>
									<li><a href="#">Boat Tours and Water Shows</a></li>
									<li><a href="#">Fishing</a></li>
									<li><a href="#">Water Sports</a></li>
									<li><a class="will-overlap" href="#">Swimming with Dolphins</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="-hasSubmenu nav-item">
						<a href="#" data-icon="apps">PLAN A TRIP</a>
						<ul>
							<li class="gray-underline"><a href="#">SUGGESTED ITINERARIES</a></li>
							<li class="gray-underline"><a href="#">EVENTS CALENDAR</a></li>
							<li class="gray-underline"><a href="#">WEDDINGS</a></li>
							<li class="gray-underline"><a href="#">SPRING BREAK</a></li>
							<li class="gray-underline"><a href="#">GROUP TRIPS</a></li>
							<li class="gray-underline"><a href="#">TRAVEL TIPS</a></li>
							<li class="gray-underline"><a href="#">PACKING LIST</a></li>
							<li class="gray-underline"><a href="#">TO AND FROM THE AIRPORT</a></li>
							<li class="gray-underline"><a href="#">GETTING AROUND</a></li>
						</ul>
					</li>
					<li class="nav-item small-nav-item">
						<a href="#" data-icon="apps">SIGN-UP</a>
					</li>
					<li class="nav-item small-nav-item">
						<a href="#" data-icon="apps">LOGIN</a>
					</li>
					<li class="nav-item .small-nav-item phone">
						<a href="#" data-icon="apps"><i class="icon icon-search"></i></a>
					</li>
					<li class="nav-item .small-nav-item phone">
						<a href="#" data-icon="apps"><i class="icon icon-phone-black"></i></a>
					</li>
					<li class="-hasSubmenu hamburger">
						<a href="#" data-icon="apps">
							<div class="pure-u-1 hamburger-btn visible">
								<span>&nbsp;</span>
								<span>&nbsp;</span>
								<span>&nbsp;</span>
							</div>
							<div class="hamburger-x">X</div>
						</a>
					</li>
					<ul class="hamburger-holder">
						<li>
							<div class="pure-g row invisible">
								<div class="pure-u-1">
									<input type="text" name="search" placeholder="Site search">
									<i class="icon icon-search"></i>
								</div>
							</div>
							<div class="hamburger-menu">
								<div class="hamburger-items-container">
									<div class="hamburger-item"><a href="#">Deals</a></div>
									<div class="hamburger-item"><a href="#">About Us</a></div>
									<div class="hamburger-item"><a href="#">Terms and Conditions</a></div>
									<div class="hamburger-item"><a href="#">Privacy Policy</a></div>
									<div class="hamburger-item"><a href="#">Security</a></div>
									<div class="hamburger-item"><a href="#">Contact</a></div>
								</div>
							</div>
						</li>
					</ul>
					</li>
					</span>

				</ul>
				<div class="mobile-stuff hide-for-large">
					<div class="nav-item .small-nav-item phone">
						<a href="#" data-icon="apps"><i class="icon icon-search"></i></a>
					</div>
					<div class="nav-item .small-nav-item phone">
						<a href="#" data-icon="apps"><i class="icon icon-phone-black"></i></a>
					</div>
					<div>
						<div class="big-x hide">X</div>
						<div class="hamburger-menu-main show">
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
			</nav>
			<!--MOBILE NAV BEGINS-->
		</div>
		<div class="mobile-login-row hide-for-large hide">
			<li class="nav-item mobile-login">
				<a href="#" data-icon="apps">Sign-up</a>
			</li>
			<li class="nav-item mobile-login">
				<a href="#" data-icon="apps">Login</a>
			</li>
		</div>
		<div class="mobile-search hide-for-large hide">
			<input class="mobile-search-input" type="text" placeholder="Site search">
			<div class=" phone mobile-magnifying ">
				<a href="# " data-icon="apps "><i class="icon icon-search "></i></a>
			</div>
		</div>
	</div>
	<ul class="hide-for-large Menu -vertical mobile-options hide">
		<li class="-hasSubmenu nav-item-mobile plus-click">
			<a href="#" data-icon="apps">EXPLORE<span class="mobile-plus">+</span><span class="mobile-plus invisible">-</span></a>

			<ul class="mobile-menu">
				<li><a class="gray-underline" href="#">CHETUMAL</a></li>
				<li><a class="gray-underline" href="#">THE CITY OF CANCUN</a></li>
				<li><a class="gray-underline" href="#">COZUMEL</a></li>
				<li><a class="gray-underline" href="#">HOLBOX</a></li>
				<li><a class="gray-underline" href="#">TULUM</a></li>
				<li><a class="gray-underline" href="#">CHITCHEN ITZA</a></li>
				<li><a class="gray-underline" href="#">ISLA MUJERES</a></li>
				<li><a class="gray-underline" href="#">MERIDA</a></li>
				<li><a class="gray-underline" href="#">PLAYA DEL CARMEN</a></li>
				<li class=""><a href="#">RIVIERA MAYA</a></li>
			</ul>
		</li>
		<li class="-hasSubmenu  nav-item-mobile plus-click">
			<a href="#" class="has-plus" data-icon="apps">EXPERIENCE<span class="mobile-plus">+</span><span class="mobile-minus invisible">-</span></a>
			<ul class="mobile-menu">
				<li class="-hasSubmenu plus-click">
					<a href="#" class="gray-underline has-plus">On Land <span class="mobile-plus-smaller">+</span><span class="mobile-minus invisible">-</span></a>
					<ul class="mobile-lower-menu">
						<li class="-hasSubmenu gray-underline plus-click">
							<a href="#" class="third-level-menu-title natural-wonders"><span class="mobile-plus-natural">+</span><span class="mobile-minus-natural invisible">-</span>Natural Wonders</a>
							<ul class="third-level-menu mobile-submenu">
								<li><a href="#">Cenotes</a></li>
								<li><a href="#">Zoos and Reserves</a></li>
								<li><a href="#">Beaches</a></li>
								<li class="gray-underline"><a href="#">Jungle and Wildlife Tours</a></li>
							</ul>
						</li>
						<li><a href="#">Golfing</a></li>
						<li><a class="will-overlap" href="#">Eco Parks and Theme Parks</a></li>
						<li><a href="#">Ancient Ruins</a></li>
						<li><a href="#">Culture and History</a></li>
						<li class="gray-underline will-overlap"><a href="#">Flyovers, Skydiving, and Air Tours</a></li>
					</ul>
				</li>
				<li class="-hasSubmenu plus-click">
					<a href="#" class="gray-underline has-plus">On Sea <span class="mobile-plus-smaller">+</span><span class="mobile-minus invisible">-</span></a>
					<ul class="mobile-lower-menu">
						<li><a href="#">Scuba + Snorkel</a></li>
						<li><a href="#">Underwater Museum</a></li>
						<li><a href="#">Boat Tours and Water Shows</a></li>
						<li><a href="#">Fishing</a></li>
						<li><a href="#">Water Sports</a></li>
						<li><a class="will-overlap" href="#">Swimming with Dolphins</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="-hasSubmenu nav-item-mobile plus-click">
			<a href="#" data-icon="apps">PLAN A TRIP<span class="mobile-plus">+</span><span class="mobile-plus invisible">-</span></a>
			<ul class="mobile-menu">
				<li class="gray-underline"><a href="#">SUGGESTED ITINERARIES</a></li>
				<li class="gray-underline"><a href="#">EVENTS CALENDAR</a></li>
				<li class="gray-underline"><a href="#">WEDDINGS</a></li>
				<li class="gray-underline"><a href="#">SPRING BREAK</a></li>
				<li class="gray-underline"><a href="#">GROUP TRIPS</a></li>
				<li class="gray-underline"><a href="#">TRAVEL TIPS</a></li>
				<li class="gray-underline"><a href="#">PACKING LIST</a></li>
				<li class="gray-underline"><a href="#">TO AND FROM THE AIRPORT</a></li>
				<li class="gray-underline"><a href="#">GETTING AROUND</a></li>
			</ul>
		</li>
	</ul>

	<button class="book-btn hide-for-large hide">Book your trip!</button>
	{% if not 'home' in urlCurrent or not 'explore' in urlCurrent %}
		<div class="gray-line"></div>
	{% endif %}
	<div class="mobile-items-container hide-for-large hide">
		<div class="mobile-item"><a href="#">Deals</a></div>
		<div class="mobile-item"><a href="#">About Us</a></div>
		<div class="mobile-item"><a href="#">Terms and Conditions</a></div>
		<div class="mobile-item"><a href="#">Privacy Policy</a></div>
		<div class="mobile-item"><a href="#">Security</a></div>
		<div class="mobile-item"><a href="#">Contact</a></div>
	</div>

	<div class="pure-g row hide-for-small">
		<div class="pure-u-1 nav-wrap ">
			<nav class="gradient-bg fusion-container ">
				<ul class="hide-for-small ">
					<li><a>Hotels</a></li>
					<li><a>Hotels + Flight</a></li>
					<li><a>Flights</a></li>
					<li><a>Tours</a></li>
					<li><a>Shuttles</a></li>
					<li><a>Cars</a></li>
				</ul>
			</nav>
			<div class="nav-fill hide-for-medium hide-for-small "></div>
		</div>

	</div>

</header>