<header>
	<div class="pure-g row top-section fusion-middle">
		<div class="pure-u-1">
			<a href="?"><i class="icon icon-logo"></i></a>
			
		</div>
	</div>
	<div class="pure-g row">
		<div class="pure-u-1 nav-wrap">
			<nav class="gradient-bg fusion-container">
				<ul>
					<li><a>Hotels</a></li>
					<li><a>Hotels + Flight</a></li>
					<li><a>Flights</a></li>
					<li><a>Tours</a></li>
					<li><a>Shuttles</a></li>
					<li><a>Cars</a></li>
				</ul>
			</nav>
			<div class="nav-fill hide-for-medium hide-for-small"></div>
		</div>
		
	</div>
	
</header>