<header>
	<div class="pure-g row top-section fusion-middle">
		<div class="pure-u-1">
			<a href="?"><i class="icon icon-logo"></i></a>
			<nav class="right top">
				<ul class="hide-for-small Menu -vertical">
					<li class="-hasSubmenu">
						<a href="#" data-icon="apps">Explore</a>
				        <ul>
					        <li><a href="#">Chetumal</a></li>
					        <li><a href="#">The City of Cancun</a></li>
					        <li><a href="#">Cozumel</a></li>
					        <li><a href="#">Holbox</a></li>
					        <li><a href="#">Tulum</a></li>
					        <li><a href="#">Chitchen Itza</a></li>
					        <li><a href="#">Isla Mujeres</a></li>
					        <li><a href="#">Merida</a></li>
					        <li><a href="#">Playa del Carmen</a></li>
					        <li><a href="#">Riviera Maya</a></li>
				        </ul>
					</li>
					<li class="-hasSubmenu">
						<a href="#" data-icon="apps">Experience</a>
				        <ul>
					        <li class="-hasSubmenu">
					        	<a href="#">On Land</a>
					        	<ul>
							        <li class="-hasSubmenu">
							        	<a href="#">Natural Wonders</a>
							        	<ul>
							        		<li><a href="#">Cenotes</a></li>
							        		<li><a href="#">Zoos and Reserves</a></li>
							        		<li><a href="#">Beaches</a></li>
							        		<li><a href="#">Jungle and Wildlife Tours</a></li>
							        	</ul>
							        </li>
							        <li><a href="#">Golfing</a></li>
							        <li><a href="#">Eco Parks and Theme Parks</a></li>
							        <li><a href="#">Ancient Ruins</a></li>
							        <li><a href="#">Culture and History</a></li>
							        <li><a href="#">Flyovers, Skydiving, and Air Tours</a></li>
						        </ul>
					        </li>
					        <li class="-hasSubmenu">
					        	<a href="#">On Sea</a>
					        	<ul>
					        		<li><a href="#">Scuba + Snorkel</a></li>
					        		<li><a href="#">Underwater Museum</a></li>
					        		<li><a href="#">Boat Tours and Water Shows</a></li>
					        		<li><a href="#">Fishing</a></li>
					        		<li><a href="#">Water Sports</a></li>
					        		<li><a href="#">Swimming with Dolphins</a></li>
					        	</ul>
					        </li>
				        </ul>
					</li>
					<li class="-hasSubmenu">
						<a href="#" data-icon="apps">Plan a Trip</a>
				        <ul>
					        <li><a href="#">Suggested Itineraries</a></li>
					        <li><a href="#">Events Calendar</a></li>
					        <li><a href="#">Weddings</a></li>
					        <li><a href="#">Spring Break</a></li>
					        <li><a href="#">Group Trips</a></li>
					        <li><a href="#">Travel Tips</a></li>
					        <li><a href="#">Packing LIst</a></li>
					        <li><a href="#">To and From the Airport</a></li>
					        <li><a href="#">Getting Around</a></li>
				        </ul>
					</li>
					<li>
						<a href="#" data-icon="apps">Sign-up</a>
					</li>
					<li>
						<a href="#" data-icon="apps">Login</a>
					</li>
					<li>
						<a href="#" data-icon="apps"><i class="icon icon-phone-black"></i></a>
					</li>
					<span class="hamburger">
						<li class="-hasSubmenu">
							<a href="#" data-icon="apps">
								<div class="pure-u-1">
									<span>&nbsp;</span>
									<span>&nbsp;</span>
									<span>&nbsp;</span>
								</div>
							</a>
							<ul>
								<li>
									<div class="pure-g row">
										<div class="pure-u-1">
											<input type="text" name="search" placeholder="Site search">
											<i class="icon icon-search"></i>
										</div>
									</div>
									<div class="pure-g row pure-u-1">
										<div class="pure-u-1">
											<ul>
												<li><a href="">Deals</a></li>
												<li><a href="">About Us</a></li>
												<li><a href="">Terms and Conditions</a></li>
												<li><a href="">Privacy Policy</a></li>
												<li><a href="">Security</a></li>
												<li><a href="">Contact</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</span>
					
				</ul>
				
			</nav>
		</div>
	</div>
	<div class="pure-g row">
		<div class="pure-u-1 nav-wrap">
			<nav class="gradient-bg fusion-container">
				<ul class="hide-for-small">
					<li><a>Hotels</a></li>
					<li><a>Hotels + Flight</a></li>
					<li><a>Flights</a></li>
					<li><a>Tours</a></li>
					<li><a>Shuttles</a></li>
					<li><a>Cars</a></li>
				</ul>
			</nav>
			<div class="nav-fill hide-for-medium hide-for-small"></div>
		</div>
		
	</div>
	
</header>