<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cancun.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.6.1/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="public_html/css/pages/base.css">
    <link rel="stylesheet" href="public_html/css/pages/style.css">
    <link rel="stylesheet" href="public_html/css/pages/plugins.css">
    <link rel="stylesheet" href="public_html/css/pages/date.css">
    <link rel="stylesheet" href="public_html/css/hotels/reservation.css"> {% block head %}{% endblock %}
</head>
<body>
    <div id="fusion" class="{{ page }}">
			


            <div id="fusion-scripts">
                <script src="public_html/js/main.js"></script>
            </div>





            
        </div>
</body>

</html>