<!doctype html>
<html class="no-js" lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>Cancun.com</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	    <link rel="stylesheet" href="public_html/css/pages/base.css">
	    <link rel="stylesheet" href="public_html/css/pages/style.css">
	    <link rel="stylesheet" href="public_html/css/pages/plugins.css">
	    <link rel="stylesheet" href="public_html/css/pages/date.css">
	    <link rel="stylesheet" href="public_html/css/hotels/reservation.css">
	    <link rel="stylesheet" href="public_html/css/pages/map.css">
	    {% block head %}{% endblock %}
	</head>
	<body>
	     <div id="fusion" class="{{ page }}">
	     	<div id="map">
	     		<div id="map-canvas"></div>
	     		<div id="map-zoom" class="map-box">
					<div id="map-zoom-in"></div>
					<div id="map-zoom-out"></div>
	     		</div>
				<div id="map-sort" class="map-box"></div>
	     		<div id="map-popup"></div>
	     	</div>>
			<div id="fusion-scripts">
				<script src="public_html/js/main.js"></script>
				<script src="public_html/js/map.js"></script>
			</div>
	     </div>
	</body>
</html>