{% extends '/views/includes/page.html' %}
{% block main %}
<main id="sitemap">
    <div class="fusion-container pure-g row">
        <div class="fusion-list row nopad">
            <div class="pure-u-1 pure-sm-1-2">
                <h3>Pages</h3>
                <ul>
                    <li><a href="{{ domain }}master">Master</a></li>
                    <li><a href="{{ domain }}sr-hotels">Search Results - Hotels</a></li>
                    <li><a href="{{ domain }}sr-hotels-flights">Search Results - Hotels + Flights</a></li>
                    <li><a href="{{ domain }}hotel-landing">Hotel Landing Page</a></li>
                    <li><a href="{{ domain }}hotel-reservation">Hotel Reservation Page</a></li>
                    <li><a href="{{ domain }}hotel-checkout">Hotel Checkout Page</a></li>
                    <li><a href="{{ domain }}explore">Explore</a></li>
                    <li><a href="{{ domain }}explore-regions">Explore Regions</a></li>
                    <li><a href="{{ domain }}experience-land">Explore Land</a></li>
                    <li><a href="{{ domain }}site-search">Site Search</a></li>
                    <li><a href="{{ domain }}weddings">Weddings</a></li>
                </ul>
            </div>
            <div class="pure-u-1 pure-sm-1-2"></div>
        </div>
    </div>
</main>
{% endblock %}