#fusion .icon-amex {
     width: 23px;
     height: 15px;
     background-position: -10px -10px;
}
#fusion .icon-arrow-down-details {
     width: 12px;
     height: 7px;
     background-position: -10px -45px;
}
#fusion .icon-arrow-down-small {
     width: 12px;
     height: 7px;
     background-position: -10px -72px;
}
#fusion .icon-arrow-down-up {
     width: 17px;
     height: 9px;
     background-position: -10px -99px;
}
#fusion .icon-arrow-down-white {
     width: 17px;
     height: 9px;
     background-position: -10px -128px;
}
#fusion .icon-arrow-down {
     width: 18px;
     height: 10px;
     background-position: -10px -157px;
}
#fusion .icon-arrow-left-small {
     width: 7px;
     height: 13px;
     background-position: -10px -187px;
}
#fusion .icon-arrow-left-white {
     width: 28px;
     height: 50px;
     background-position: -10px -220px;
}
#fusion .icon-arrow-left {
     width: 26px;
     height: 25px;
     background-position: -10px -290px;
}
#fusion .icon-arrow-right-small {
     width: 7px;
     height: 13px;
     background-position: -10px -335px;
}
#fusion .icon-arrow-right-white {
     width: 28px;
     height: 50px;
     background-position: -10px -368px;
}
#fusion .icon-arrow-right {
     width: 9px;
     height: 17px;
     background-position: -10px -438px;
}
#fusion .icon-arrow-up-details {
     width: 12px;
     height: 7px;
     background-position: -10px -475px;
}
#fusion .icon-arrow-up {
     width: 17px;
     height: 9px;
     background-position: -10px -502px;
}
#fusion .icon-check-green {
     width: 15px;
     height: 12px;
     background-position: -10px -531px;
}
#fusion .icon-check {
     width: 15px;
     height: 12px;
     background-position: -10px -563px;
}
#fusion .icon-close {
     width: 18px;
     height: 17px;
     background-position: -10px -595px;
}
#fusion .icon-discover {
     width: 23px;
     height: 15px;
     background-position: -10px -632px;
}
#fusion .icon-dollar {
     width: 60px;
     height: 30px;
     background-position: -10px -667px;
}
#fusion .icon-email {
     width: 16px;
     height: 13px;
     background-position: -10px -717px;
}
#fusion .icon-europcar {
     width: 60px;
     height: 30px;
     background-position: -10px -750px;
}
#fusion .icon-facebook-alt {
     width: 8px;
     height: 15px;
     background-position: -10px -800px;
}
#fusion .icon-facebook {
     width: 7px;
     height: 17px;
     background-position: -10px -835px;
}
#fusion .icon-footer-logo {
     width: 88px;
     height: 48px;
     background-position: -10px -872px;
}
#fusion .icon-google-alt {
     width: 18px;
     height: 18px;
     background-position: -10px -940px;
}
#fusion .icon-gym {
     width: 21px;
     height: 20px;
     background-position: -10px -978px;
}
#fusion .icon-half-star-small {
     width: 7px;
     height: 12px;
     background-position: -10px -1018px;
}
#fusion .icon-half-star {
     width: 7px;
     height: 13px;
     background-position: -10px -1050px;
}
#fusion .icon-heart-white {
     width: 33px;
     height: 27px;
     background-position: -10px -1083px;
}
#fusion .icon-heart {
     width: 23px;
     height: 19px;
     background-position: -10px -1130px;
}
#fusion .icon-hertz {
     width: 45px;
     height: 20px;
     background-position: -10px -1169px;
}
#fusion .icon-instagram {
     width: 16px;
     height: 16px;
     background-position: -10px -1209px;
}
#fusion .icon-list-dark {
     width: 23px;
     height: 15px;
     background-position: -10px -1245px;
}
#fusion .icon-list-down {
     width: 23px;
     height: 15px;
     background-position: -10px -1280px;
}
#fusion .icon-location {
     width: 12px;
     height: 16px;
     background-position: -10px -1315px;
}
#fusion .icon-logo-white {
     width: 118px;
     height: 54px;
     background-position: -10px -1351px;
}
#fusion .icon-logo {
     width: 143px;
     height: 76px;
     background-position: -10px -1425px;
}
#fusion .icon-map-light {
     width: 27px;
     height: 22px;
     background-position: -10px -1521px;
}
#fusion .icon-master {
     width: 23px;
     height: 15px;
     background-position: -10px -1563px;
}
#fusion .icon-media {
     width: 15px;
     height: 18px;
     background-position: -10px -1598px;
}
#fusion .icon-outlet {
     width: 24px;
     height: 15px;
     background-position: -10px -1636px;
}
#fusion .icon-phone-black {
     width: 16px;
     height: 21px;
     background-position: -10px -1671px;
}
#fusion .icon-phone-white {
     width: 20px;
     height: 25px;
     background-position: -10px -1712px;
}
#fusion .icon-phone {
     width: 20px;
     height: 20px;
     background-position: -10px -1757px;
}
#fusion .icon-plane-left {
     width: 17px;
     height: 17px;
     background-position: -10px -1797px;
}
#fusion .icon-plane-purple {
     width: 17px;
     height: 17px;
     background-position: -10px -1834px;
}
#fusion .icon-plane-right {
     width: 17px;
     height: 17px;
     background-position: -10px -1871px;
}
#fusion .icon-pool {
     width: 23px;
     height: 20px;
     background-position: -10px -1908px;
}
#fusion .icon-room-service {
     width: 25px;
     height: 17px;
     background-position: -10px -1948px;
}
#fusion .icon-search {
     width: 19px;
     height: 19px;
     background-position: -10px -1985px;
}
#fusion .icon-spa {
     width: 22px;
     height: 23px;
     background-position: -10px -2024px;
}
#fusion .icon-star-small {
     width: 13px;
     height: 12px;
     background-position: -10px -2067px;
}
#fusion .icon-star {
     width: 14px;
     height: 13px;
     background-position: -10px -2099px;
}
#fusion .icon-triangle-white-right {
     width: 6px;
     height: 10px;
     background-position: -10px -2132px;
}
#fusion .icon-tripadvisor {
     width: 21px;
     height: 12px;
     background-position: -10px -2162px;
}
#fusion .icon-twitter {
     width: 16px;
     height: 13px;
     background-position: -10px -2194px;
}
#fusion .icon-visa {
     width: 23px;
     height: 15px;
     background-position: -10px -2227px;
}
#fusion .icon-wifi {
     width: 23px;
     height: 17px;
     background-position: -10px -2262px;
}
