#check{
    display: flex;
}

#check .header{
        width: 102%;
    margin: 6px 0 10px 0;
    display: flex;
    align-items: center;
    height: 45px;
    color: white;
}
#check .white-arrow{
    width: 7px;
    height: 12.67px;
        margin: 0 25px;
}

#check .reservation{
    text-decoration: none;
        margin-left: 22px;
}

#check .reservation-two{
    text-decoration: underline;
}
#check .left-column{
    width: 150px;
}
#check .big-right-column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#check .body{
    display: flex;
}

#check .center-column{
    flex-grow: 3;
        margin: 0 20px;
}

#check .title{
        font-size: 31px;
    font-weight: 400;
    margin-bottom: 20px;
}

#check .pic-and-details{
    display: flex;
}

#check .main-pic{
    width: 186px;
    height: 137px;
}

#check .place-details{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#check .location-and-phone{
    display: flex;
    font-weight: 300;
}
#check .location-name{
    font-size: 14px;
    margin-left: 6px;
    margin-right: 60px;
}
#check .vertical-line-black{
    border-right: 1.4px solid gray;
    margin: 0px 30px 0 10px;
}
#check .phone-number{
    font-size: 14px;
}
#check .reviews-line{
    display: flex;
    font-weight: 300;
}
#check .star-line{
    display: flex;
}
#check .star{
    margin: 3px 0px !important;
}
#check .based-on{
    font-size: 12px;
    text-decoration: underline;
    margin: 0 10px;
}
#check .trip-advisor-score{
    font-size: 13px;
    margin: 0 5px;
}
#check .trip-details{
    display: flex;
    flex-direction: column;
    font-weight: 300;
}
#check .all-inclusive{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 2px;
}
#check .how-many{
    font-size: 14px;
}
#check .adults-cancellation{
    display: flex;
}
#check .num-adults{
    font-size: 14px;
}
#check .cancellation-policy{
    color: #42B299 !important;
    font-size: 14px;
    margin-left: 20px;
}
#check .price-box{
    display: flex;
    flex-direction: column;
    width: 263px;
    height: 180px;
    background-color: #F7F7F7;
    justify-content: space-around;
    align-items: center;
}
#check .continue-smaller{
    width: 242px;
    height: 40px;
    background-color: #CAC859;
    color: white;
    font-weight: 400;
}
#check .old-price{
    font-size: 12px;
    text-decoration: line-through;
}
#check .final-price{
    display: flex;
}
#check .time-frame{
    font-size: 12px;
}
#check .trip-details-mobile{
    display: flex;
}
#check .four-square {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 263px;
    height: 139px;
    box-shadow: 0px 0px 10px #F7F7F7;
}
#check .square{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        width: 45%;
    margin-left: 9px;
    height: 45%;
}
#check .square-top-left{
    border-right: 1px solid #F7F7F7;
}

#check .square-title{
    font-size: 12px;
}
#check .square-date{
    display: flex;
    flex-direction: row;
        align-items: center;
}
#check .square-num{
    font-size: 22px;
}
#check .square-month{
    font-size: 12px;
    margin-top: 5px;
}
#check .square-bottom-left{
    border-right: 1px solid #F7F7F7;
}
#check .wip-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 263px;
    height: 62px;
    background-color: #F7F7F7;
    margin: 10px 0;
}
#check .right-box-title-row{
    display: flex;
        justify-content: space-between;
    font-size: 12px;
        margin: 0 10px;
    margin-bottom: 4px;
}
#check .right-box-x{
    position: relative;
    top: -8px;
    font-weight: 500;
}   
#check .right-box-content-row{
    display: flex;
        justify-content: space-between;
            margin: 0 10px;
    font-size: 12px;
}
#check .shuttle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 263px;
    height: 78px;
    background-color: #F7F7F7;
    margin: 10px 0;
}
#check .far-right-column{
    width: 200px;
}
#check .more-details{
    font-size: 12px;
    color: #42B299 !important;
}
#check .subtitle {
    font-size: 12.5px;
    font-weight: 500;
    margin: 30px 0 10px 0;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 4px;
}
#check .info-title{
    font-size: 11.5px;
    margin-bottom: -1px;
        margin-top: 5px;
}
#check .guest-information-container{
    display: flex;
    flex-direction: column;
}
#check .guest-info{
    border: 1px solid darkgray;
    width: 80%;
    height: 30px;
    margin: 5px 0;
    padding: 9px;
    border-radius: 2px;
    color: black;
    min-width: 200px;
    max-width: 470px;
}

#check .guest-info:focus{
    border: 1px solid black;
}

#check .data-for-transfer-container{
    display: flex;
    flex-direction: column;
}

#check .arrival-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#check .time-select{
    width: 90px;
    height: 30px;
    padding-left: 8px;
    border-radius: 2px;
    border: 1px solid darkgray;
    background-color: transparent;
    max-width: 200px;
    min-width: 100px;
}
#check .time-select:focus{
    border: 1px solid black;
}
#check .down-arrow {
    position: relative;
    right: 25px;
    z-index: -1;
    top: 10px;
}

#check .select-arrow-container{
    display: flex;
}

#check .airline-select{
    width: 200px;
    height: 30px;
    padding-left: 8px;
    border-radius: 2px;
    border: 1px solid darkgray;
    background-color: transparent;
}
#check .airline-select:focus{
    border: 1px solid black;
}

#check .flight-num{
    border: 1px solid darkgray;
    width: auto;
    height: 30px;
    margin: 5px 0;
    padding: 9px;
    border-radius: 2px;
    color: black;
    min-width: 200px;
}
#check .expiration-container{
    display: flex;
}
#check .security-code-container{
    display: flex;
    align-items: center;
}
#check .expiration-input{
    margin: 2px 20px 10px 0;
    width: 130px;
    height: 30px;
    padding-left: 8px;
    border-radius: 2px;
    border: 1px solid darkgray;
    background-color: transparent;
    max-width: 200px;
    min-width: 100px;
}
#check .expiration-input:focus{
    border: 1px solid black;
}
#check .what-this{
    font-size: 12px;
    color: #42B299 !important;
}
#check .country-select{
     width: 80%;
    height: 30px;
    padding-left: 8px;
    border-radius: 2px;
    border: 1px solid darkgray;
    background-color: transparent;
    max-width: 470px;
    min-width: 200px;
}
#check .country-select:focus{
    color: black;
}
#check .checkbox-line{
    display: flex;
    margin: 10px 0;
}
#check .text-me{
    font-size: 12.5px;
    font-weight: 400;
        margin-left: 20px;
}
#check .book-btn{
    width: 95%;
    height: 40px;
    background-color: #CAC859;
    color: white;
    margin: 20px auto;
    font-weight: 400;
    box-shadow: 1px 1px 5px #888888;
}
#check .fine-print{
    font-size: 10.5px;
    font-weight: 400;
    margin-top: -13px;
    position: relative;
    margin: -13px auto 20px auto;
    width: 95%;
        text-align: center;
}
#check .fine-print-green{
    color: #42B299;
}
#check .number-select {
    width: 100%;
    border: none;
    padding-left: 12px;
    font-size: 18px;
    background-color: transparent;
}
#check .right{
    position: relative;
    top: 24px;
    right: 28px;
    z-index: -1;
}
#check .top-squares{
    display: flex !important;
    width: 263px;
}
#check .square-arrow{
    position: relative;
    left: 29px;
    top: 2px;
}
#check .billing-container{
    display: flex;
    flex-direction: column;
}





@media screen and (max-width: 768px) {
    #check .body{
        display: block;
    }
    #check .place-details {
        margin-left: 0;
            height: 90px;
    justify-content: space-around;
    }
    #check .based-on{
        text-decoration: none;
    }
    #check .price-box{
       width: 94px;
           height: 95px;
    }
    #check .all-inclusive-mobile{
        display: flex;
        justify-content: space-between;
    }
    #check .price-breakdown-mobile{
        color: #42B299 !important;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 2px;
        position: relative;
        left: 60px;
    }
    #check .four-square {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
         width: auto; 
         height: auto; 
        box-shadow: none;
        position: relative;
        margin: 5px auto;
        justify-content: center;
    }
    #check select{
        margin: 3px 0;
    }
    
    
}