/*
TODOS - remove
mobile-search-bar
*/

/* Banner styles */
#banner {
    background:url(../../images/hotels/explore/banner.jpg);
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 50px;
    display: block;
    margin: 0 auto;
    max-width: 1470px;
    margin-bottom: 50px;
}
#banner .icon-logo {
    background-position: -10px -1241px;
    width: 118px;
    height: 54px;
}
#fusion #banner nav.top ul.Menu > li > a {
    color: #fff;
    text-shadow: 2px 2px 2px #404040;
}
#banner h1 {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    line-height: 79px;
    margin-bottom: 50px;
}
#banner a.button {
    width: 300px;
    padding: 15px;
    cursor: pointer;
}

#fusion #home h2 {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* Filters styles */
.filter-box {
    box-shadow: 2px 6px 20px 0px #828282;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    display: none;
}
.filter-box.active {
    display: block;
}
.filter-box .section, .mobile-search-bar .section {
    border-right: 1px solid #DFDFDF;
    box-sizing: border-box;
    padding: 15px 20px!important;
    position: relative;
}
.filter-box h4, .mobile-search-bar h4 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
}
#fusion .filter-box .section .date, #fusion .filter-box .section .guests, #fusion .filter-box .section .rooms, #fusion .mobile-search-bar .date, #fusion .mobile-search-bar .guests, #fusion .mobile-search-bar .rooms {
    font-size: 14px;
}
#fusion .filter-box input[type="text"] {
    border: none;
    color: #292929;
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #D5D5D5;
}
.filter-box .section .date .number, #fusion .filter-box .section .guests .number, #fusion .filter-box .section .rooms .number, #fusion .mobile-search-bar .date, #fusion .mobile-search-bar .guests, #fusion .mobile-search-bar .rooms, #fusion .filter-box span select {
    font-size: 32px;
}
.filter-box .icon-arrow-down, #mobile-dates .section .icon-arrow-down {
    position: absolute;
    bottom: 8px;
    right: 15px;
}
.filter-box .section .icon-arrow-down.last, #mobile-dates .section .icon-arrow-down.last {
    top: 10px;
    bottom: 0;
}
#fusion .filter-box select {
    width: 100%;
    color: #292929;
    background: transparent;
    border: none;
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 500;
}
.filter-box .section.last {
    border-right: none;
    background-color: #fafafa;
}
.filter-box a.more-filters-link {
    font-size: 12px;
    cursor: pointer;
    display: block;
}
#fusion .filter-box button.update-search {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 0;
    padding: 14px 0;
}
.filter-box .more-filters {
    background: #fafafa;
    padding: 15px 0;
    display: none;
}
.filter-box .more-filters.active {
    display: block;
}
#fusion .filter-box .more-filters label {
    font-size: 12px;
    color: #333;
}
#fusion .filter-box .more-filters input[type="text"] {
    border: 1px solid #C9C9C9;
    padding: 15px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 18px;
}
#fusion .filter-box .more-filters .pure-g [class *="pure-u"] {
    padding: 8px 25px;
    box-sizing: border-box;
}
#fusion .filter-box .more-filters .pure-g [class *="pure-u"].hr {
    padding: 0;
}
#fusion hr {
    height: 1px;
    background-color: #efefef;
    color: #efefef;
    border: none;
}
.noUi-target {
    border-radius: 10px;
}
.noUi-horizontal {
    height: 10px;
    margin: 12px 0;
}
.noUi-horizontal .noUi-handle {
    top: -8px;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #c8c8c8;
}
.noUi-handle:after, .noUi-handle:before {
    background: none;
}
.section-wrap {
    font-size: 12px;
    display: block;
}
#fusion .section-wrap:after {
    display: block;
    content: '';
    clear: both;
}

/* Swipper styles */
.swiper-slide {
    width: 230px;
    box-sizing: border-box;
}

.small-gallery .swiper-slide {
    height: 146px;
    width: 314px;
}

.thirds-gallery .swiper-slide {
    background: #F7F7F7;
    width: 312px;
}

.swiper-slide-inner {
    position: relative;
    padding-right: 45px;
}

.swiper-slide-price {
    position: absolute;
    top: 0;
    right: 0;
}

.swiper-slide-featured {
    display: block;
    height: 315px;
    margin-bottom: 5px;
}

.swiper-container .button-next {
    right: 10px;
    left: auto;
    background: #fff;
    padding: 7px 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 2px 2px 2px #CDCDCD;
}
.swiper-container .button-next .icon {
    margin-top: 3px;
}
.swiper-overlay {
    height: 313px;
    width: 230px;
    background: #fff;
    background: -webkit-linear-gradient(left, transparent 30%, #fff 86%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, transparent 30%, #fff 86%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, transparent 30%, #fff 86%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, transparent 30%, #fff 86%); /* Standard syntax */
    position: absolute;
    right: 1px;
    left: auto;
    top: 0;
    z-index: 2;
}
#fusion .swiper-slide a p {
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 36%;
}
h2.margin-top {
    margin-top: 30px;
}
.gallery-know .swiper-slide {
    height: 420px;
}
.swiper-slide .line {
    background: #373737;
    width: 40px;
    height: 2px;
    margin-top: 5px;
}
.gallery-blog {
    margin-bottom: 30px;
}
.gallery-blog .swiper-slide {
    height: 460px;
}
.gallery-blog .auth-info {
    margin-top: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #949494;
    font-size: 12px;
}
.gallery-blog .auth-info .date {
    text-align: right;
}
.thirds-gallery .swiper-slide .content {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}


/* Map styles */
.map {
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.map img {
    width: 100%;
    height: auto;
}

a.experience {
    display: block;
    width: 338px;
    margin: 0 auto 50px;
}

/* DESKTOP - Tablet */
@media (min-width: 768px) {
    #banner {
        height: 702px;
    }
}

/* X-LARGE */
@media (min-width: 1470px) {
    .map img {
        width: 1470px;
        display: block;
        margin: 0 auto;
    }
}

/* DESKTOP */
@media(min-width: 1040px) and (max-width: 1469) {

}

/* TABLET */
@media (min-width: 768px) and (max-width: 1039px) {

}

/* MOBILE */
@media (max-width: 766px) {
    .nav-wrap {
        display: none;
    }
    #banner {
       height: 700px;
       background-position: center;
    }
    #fusion #banner a.button {
        margin: 20px auto;
    }
    #banner h1 {
        font-weight: 500;
        text-align: center;
        font-size: 48px;
        line-height: 55px;
        margin-top: 140px;
    }
    #banner h1 br {
        display: none;
    }
    #banner .fusion-container {
        padding: 0 30px;
    }
    #fusion .fusion-container {
        padding: 0 15px;
    }
    /* Mobile search styles */
    .mobile-search-bar {
        display: none;
    }
    #master .sort-wrap {
        margin-top: 10px;
    }
    #master .mobile-filters-button {
        display: block;
        float: right;
        border: 1px solid #C9C9C9;
        width: 135px;
        font-weight: 400;
        margin-bottom: 25px;
    }
    .mobile-search-bar .flying-from-city {
        font-size: 24px;
    }
    .mobile-search-bar {
        display: none;
    }
    #master .mobile-search-bar nav {
        margin-bottom: 20px;
    }
    #master .mobile-search-bar a.close {
        float: right;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1;
        border: 1px solid #C9C9C9;
    }
    #master .mobile-search-bar .additional-filters a.close {
        font-size: 14px
    }
    #master .mobile-search-bar .additional-filters a.button {
        width: 98%;
    }
    form.mobile-search-bar.open-filters {
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 1;
        top: 0;
        overflow-y: scroll;
        max-height: 100%;
        display: block;
        height: 100%;
    }
    form.mobile-search-bar.open-filters .fusion-container {
        padding: 10px;
    }
    #fusion .mobile-search-bar button {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        margin: 10px 0;
    }
    #fusion .mobile-search-bar a.more-filters, #fusion .mobile-search-bar a.hide-filters {
        text-align: center;
        display: block;
    }
    #fusion #master .flight-info .duration-details p {
        float: left;
    }
    #master .mobile-search-bar .counter-row {
        font-size: 18px;
        margin-bottom: 10px;
    }
    #master .mobile-search-bar .counter-row .counter-number {
        text-align: center;
    }
    #master .mobile-search-bar .counter-row .circle {
        width: 23px;
        height: 23px;
        text-align: center;
        box-sizing: border-box;
        padding: 2px 0;
        border-radius: 50%;
        border: 1px solid #333333;
        line-height: 1;
        cursor: pointer;
    }
    #fusion .mobile-search-bar select {
        width: 100%;
        padding-right: 30px;
        border: none;
    }
    #fusion #master .mobile-search-bar #child-age {
        font-size: 24px;
    }
    #fusion .filter-box .section .date, #fusion .filter-box .section .guests, #fusion .filter-box .section .rooms, #fusion .mobile-search-bar .date, #fusion .mobile-search-bar .guests, #fusion .mobile-search-bar .rooms {
        font-size: 12px;
    }
    .filter-box .section .date .number, #fusion .filter-box .section .guests .number, #fusion .filter-box .section .rooms .number, #fusion .mobile-search-bar .date .number, #fusion .mobile-search-bar .guests .number, #fusion .mobile-search-bar .rooms .number {
        font-size: 28px;
    }
    #fusion .filters-sidebar h5 {
        font-weight: 400;
        font-size: 12px;
        margin: 14px 0 10px;
    }
    #fusion .filters-sidebar label {
        font-size: 12px;
        color: #333;
    }
    #fusion .filters-sidebar input[type=checkbox] {
        float: left;
        margin: 4px 14px 10px 0;
    }
    #fusion .filters-sidebar label:after {
        content: '';
        display: block;
        clear: both;
    }
    #fusion .filters-sidebar a {
        font-size: 12px;
        display: block;
        margin: 5px 0 14px 30px;
    }
    .mobile-search-bar .additional-filters a.button {
        width: 98%;
    }
    #hotels .mobile-search-bar a.close {
        float: right;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 1;
        border: 1px solid #C9C9C9;
    }
}