#reservation{
    display: flex;
}

#reservation .header{
        width: 102%;
    margin: 6px 0 10px 0;
    display: flex;
    align-items: center;
    height: 45px;
    color: white;
}
#reservation .white-arrow{
    width: 7px;
    height: 12.67px;
        margin: 0 25px;
}

#reservation .reservation{
    text-decoration: none;
        margin-left: 22px;
}

#reservation .reservation-two{
    text-decoration: underline;
}

#reservation .star-line{
    display: flex;
}

#reservation .star{
    margin: 3px 0px !important;
}

#reservation .big-right-column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#reservation .body{
    display: flex;
}

#reservation .left-column{
    width: 150px;
}

#reservation .far-right-column{
    width: 150px;
}

#reservation .center-column{
    flex-grow: 3;
        margin: 0 20px;
}

#reservation .title{
        font-size: 31px;
    font-weight: 400;
    margin-bottom: 20px;
}

#reservation .pic-and-details{
    display: flex;
}

#reservation .place-details{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#reservation .details-title{
    color: black;
}

#reservation .location-and-phone{
    display: flex;
}

#reservation .reviews-line{
    display: flex;
}

#reservation .trip-details{
    display: flex;
    flex-direction: column;
}

#reservation .supplement-your-trip{
    display: flex;
    flex-direction: column;
}

#reservation .shield-pic {
    width: 44px;
    height: 46px;
    position: relative;
    margin: auto 40px;
}

#reservation .bus-pic {
    width: 53px;
    height: 34px;
    position: relative;
    margin: auto 35px;
}

#reservation .bullets-box{
    display: flex;
    background-color: #F7F7F7;
    padding: 10px;
        height: 70px;
}

#reservation .supplement-bullets{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: space-around;
}

#reservation .check-section{
    display: flex;
    flex-direction: column;
}

#reservation .check-line{
    display: flex;
    justify-content: space-between;
}

#reservation .last-check-line{
    justify-content: flex-start;
}

#reservation .cars-container{
    display: flex;
    flex-direction: column;
}

#reservation .car-container{
    display: flex;
    border: 1px solid #F7F7F7;
    margin: 5px 0;
}

#reservation .car-right {
    display: flex;
    flex-direction: column;
    width: 62%;
    justify-content: space-around;
    margin: 2px 11px 0 7px;
}

#reservation .car-details{
    display: flex;
        flex-direction: row;
        justify-content: space-between;
}

#reservation .car-deets{
    display: flex;
    flex-direction: column;
        width: 60%;
}

#reservation .car-pricing{
    display: flex;
    flex-direction: column;
        align-items: flex-end;
}

#reservation .car-view-options{
    display: flex;
    align-self: flex-end;
    font-size: 13px;
}

#reservation .tours-container{
    display: flex;
    flex-direction: column;
}

#reservation .tour-container {
    display: flex;
    width: auto;
    height: 185px;
    border: 1px solid #F7F7F7;
    margin-bottom: 15px;
}

#reservation .tour-right {
    display: flex;
    flex-direction: column;
    width: 62%;
    justify-content: space-around;
    margin: 2px 11px 0 7px;
}

#reservation .tour-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#reservation .tour-deets{
    display: flex;
    flex-direction: column;
}

#reservation .tour-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#reservation .tour-rating-line{
    display: flex;
}

#reservation .tour-duration-line{
    display: flex;
    margin: 3px 0;
}

#reservation .tour-pricing{
    display: flex;
    flex-direction: column;
        align-items: flex-end;
}

#reservation .four-square {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 263px;
    height: 139px;
    box-shadow: 0px 0px 10px #F7F7F7;
}

#reservation .square{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        width: 45%;
    margin-left: 9px;
    height: 45%;
}

#reservation .square-top-left{
    border-right: 1px solid #F7F7F7;
}

#reservation .square-bottom-left{
    border-right: 1px solid #F7F7F7;
}

#reservation .square-title{
    font-size: 12px;
}

#reservation .square-month{
    font-size: 12px;
    margin-top: 5px;
}

#reservation .square-num{
    font-size: 22px;
}

#reservation .wip-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 263px;
    height: 62px;
    background-color: #F7F7F7;
    margin: 10px 0;
}

#reservation .square-date{
    display: flex;
    flex-direction: row;
        align-items: center;
}

#reservation .shuttle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 263px;
    height: 78px;
    background-color: #F7F7F7;
    margin: 10px 0;
}

#reservation .right-box-title-row{
    display: flex;
        justify-content: space-between;
    font-size: 12px;
        margin: 0 10px;
    margin-bottom: 4px;
}

#reservation .right-box-content-row{
    display: flex;
        justify-content: space-between;
            margin: 0 10px;
    font-size: 12px;
}

#reservation .right-box-x{
    position: relative;
    top: -8px;
    font-weight: 500;
}   

#reservation .price-box{
    display: flex;
    flex-direction: column;
    width: 263px;
    height: 180px;
    background-color: #F7F7F7;
    justify-content: space-around;
    align-items: center;
}

#reservation .final-price{
    display: flex;
}

#reservation .main-pic{
    width: 186px;
    height: 137px;
}

#reservation .location-name{
    font-size: 14px;
    margin-left: 6px;
    margin-right: 60px;
}

#reservation .vertical-line-black{
    border-right: 1.4px solid gray;
    margin: 0px 30px 0 10px;
}

#reservation .subtitle {
    font-size: 13px;
    font-weight: 400;
    margin: 30px 0 10px 0;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 4px;
}

#reservation .car-pic{
    width: 242px;
    height: 161px;
}

#reservation .tour-pic{
    height: 156px;
    width: 252px;
}

#reservation .based-on{
    font-size: 12px;
    text-decoration: underline;
    margin: 0 10px;
}

#reservation .icon{
    margin: 0 5px;
}

#reservation .trip-advisor-score{
    font-size: 13px;
    margin: 0 5px;
}

#reservation .phone-number{
    font-size: 14px;
}

#reservation .all-inclusive{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 2px;
}

#reservation .adults-cancellation{
    display: flex;

}

#reservation .how-many{
    font-size: 14px;
}

#reservation .num-adults{
    font-size: 14px;
}

#reservation .cancellation-policy{
    color: #42B299 !important;
    font-size: 14px;
    margin-left: 20px;
}

#reservation .GIANT_SHIELD{
    width: 44px;
    height: 46px;
    margin: auto;
    position: relative;
}

#reservation .bullet-item{
        width: 46%;
}

#reservation .check-section{
    min-height: 150px;
    padding: 10px;
}

#reservation .check-line{
    width: 85%;
        margin: 15px 0 15px 15%;
    font-size: 12px;
}

#reservation .check-text {
    max-width: 350px;
    margin-left: 30px;
}

#reservation .check-more-details a{
    color: #42B299 !important;
}

#reservation .tour-dates-btn{
    width: 96px;
    height: 40px;
    background-color: #CAC859;
    color: white;
    margin-top: 20px;
    margin-left: 5px;
    font-weight: 400;
    box-shadow: 1px 1px 5px #888888;
}

#reservation .continue{
    width: 668px;
    height: 40px;
    background-color: #CAC859;
    color: white;
    margin: 10px auto 40px auto;
    font-weight: 400;
}

#reservation .more-cars{
    text-align: right;
    font-size: 14px;
    margin-top: 3px;
}

#reservation .dividing-line {
    height: 93px;
    border-left: 1px solid #F7F7F7;
    width: 1px;
}

#reservation .car-title{
    font-size: 17px;
}

#reservation .passengers {
    font-size: 12px;
    margin-top: 5px;
}

#reservation .car-pricing-title{
    font-size: 12px;
}

#reservation .car-pricing-cost{
    font-size: 18px;
    font-weight: 500;
    margin: 3px 0;
}

#reservation .tour-title{
    font-size: 17px;
}

#reservation .passengers {
    font-size: 12px;
    margin-top: 5px;
}

#reservation .tour-pricing-title{
    font-size: 12px;
}

#reservation .tour-pricing-cost{
    font-size: 18px;
    font-weight: 500;
    margin: 3px 0;
}

#reservation .tour-duration{
    font-size: 12px;
}

#reservation .tour-location{
    font-size: 12px;
}

#reservation .tour-categories-title{
    font-size: 12px;
        margin-top: 18px;
    margin-bottom: 4px;
}

#reservation .tour-category{
    font-size: 12px;
}

#reservation .continue-smaller{
    width: 242px;
    height: 40px;
    background-color: #CAC859;
    color: white;
    font-weight: 400;
}

#reservation .old-price{
    font-size: 12px;
    text-decoration: line-through;
}

#reservation .big-price{
    font-size: 28px;
}

#reservation .time-frame{
    font-size: 12px;
}

#reservation .more-details{
    font-size: 12px;
    color: #42B299 !important;
}

#reservation .trip-details-mobile{
    display: flex;
}

#reservation .check-line-bottom {
    display: flex;
    justify-content: space-around;
    width: 40%;
} 

#reservation .check-line-top{
    display: flex;
}
#reservation .top-squares{
    display: flex !important;
    width: 263px;
}
#reservation .square-arrow{
    position: relative;
    left: 29px;
    top: 2px;
}
#reservation .number-select {
    width: 100%;
    border: none;
    padding-left: 12px;
    font-size: 18px;
    background-color: transparent;
}
#reservation .right{
    position: relative;
    top: 24px;
    right: 28px;
    z-index: -1;
}







@media screen and (max-width: 768px) {
    #reservation .body{
        display: block;
    }
    #reservation .supplement-bullets{
        display: flex;
        flex-direction: column;
    }
    #reservation .place-details {
        margin-left: 0;
            height: 90px;
    justify-content: space-around;
    }

    #reservation .price-box{
       width: 94px;
           height: 95px;
    }
    #reservation .mobile-pic{
        width: 76px;
        height: 51px;
            margin: auto 10px;
    }
    #reservation .all-inclusive-mobile{
        display: flex;
        justify-content: space-between;
    }
    #reservation .price-breakdown-mobile{
        color: #42B299 !important;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 2px;
        position: relative;
        left: 60px;
    }
    #reservation .based-on{
        text-decoration: none;
    }

    #reservation .four-square {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
         width: auto; 
         height: auto; 
        box-shadow: none;
        position: relative;
        margin: 5px auto;
        justify-content: center;
    }
    #reservation .square{
          margin-right: 9px;
              border-bottom: 1px solid lightgray;
    }  
    #reservation .header{
        justify-content: space-around;
    }
    #reservation .reservation-two{
        margin-right: 10vw;
    }
    #reservation .bullet-item{
        width: auto;
    }
    #reservation .check-line{
             width: auto; 
        margin: 5px; 
        flex-wrap: wrap;
    }
    #reservation .check-line-top{
            width: 100%;
    margin: 2px;
    }
    #reservation .check-line-bottom {
        margin-left: 30px;
        justify-content: space-between;
        width: 100%;    
        margin-top: 2px;
    }
    #reservation .check-text{
        margin-left: 10px;
    }

    #reservation .car-container{
            flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    }
    #reservation .car-pic{
        width: auto;
        height: 165px;
    }
    #reservation .car-right{
        width: 100%;
    }
    #reservation .car-details{
         height: 85px;
    padding: 0 11px;
    }
    #reservation .passengers{
        margin-top: 18px;
    }
    #reservation .car-view-options{
        position: relative;
         bottom: 25px;
    }
    #reservation .add-btns{
        display: flex;
        justify-content: space-around;
            margin-bottom: 20px;
        
    }
    #reservation .add-and-checkout{
        width: auto;
        height: 40px;
        background-color: #CAC859;
        color: white;
        font-weight: 400;
        font-size: 14px;
        box-shadow: 1px 1px 5px #888888;
    }
    #reservation .no-thanks-continue{
        width:  auto;
        height: 40px;
    background-color: white;
    color: black;
    font-weight: 400;
    border: 1px solid black;
    font-size: 14px;
    }
    #reservation .check-section{
        min-height: 100px;
    }
    #reservation .tour-container {
        display: flex;
        width: 100%;
        height: auto; 
        border: 1px solid lightgray;
        margin-bottom: 15px;
        flex-direction: column;
            align-items: center;
    }
    #reservation .tour-right {
        display: flex;
        flex-direction: column;
        width: 94%;
        justify-content: space-around;
        margin: 2px 11px 0 7px;
    }
    #reservation .car-title {
        font-size: 16px;
    }
    #reservation .tour-title{
        font-size: 16px;
    }
    #reservation .user-rating{
        font-size: 11px;
    }
    #reservation .tour-pricing-cost {
        font-size: 17px;
        font-weight: 400;
        margin: 3px 0;
    }
    #reservation .tour-dates-btn {
        width: 95%;
        height: 40px;
        background-color: #CAC859;
        color: white;
        margin: 10px;
        font-weight: 400;
        box-shadow: 1px 1px 5px #888888;
    }
    #reservation .tour-deets {
        height: 80px;
        justify-content: space-around;
    }
    #reservation .more-cars {
        text-align: center;
        font-size: 14px;
        margin: 10px;
    }
}