{% extends '/views/includes/page.html' %} {% block title %}Cancun.com{{ parent() }}{% endblock %}{% block head %} {{ parent() }}
<link rel="stylesheet" href="public_html/css/site-search/site-search.css"> 
{% endblock %} {% block main %}
	<main id="hotels">
		<form action="" method="POST">
			<div class="fusion-container">
				<div class="pure-g row filter-box">
					<input type="text" placeholder="Swim with dolphins">
					<a href="">x</a>
				</div>
				<div class="pure-g row hide-for-large hide-for-medium">
					<div class="pure-u-1-2">
						<label for="cruise-sort" class="cruise-sort">Sort by:</label>
						<div class="fusion-select">
							<i class="icon icon-dropdown"></i>
                   			<select name="ss-sortBy" id="ss-sortBy" class="fusion-change">
                   				<option value="best-match" selected>Best match</option>
                   				<option value="a-z">A - Z</option>
                   				<option value="z-a" selected>Z - A</option>
                   			</select>
					</div>
					<div class="pure-u-1-2">
						<a href="" class="button filters clear">Filters</a>
					</div>
				</div>
				<div class="pure-g row">
					<div class="pure-u-md-7-24 hide-for-small filters-sidebar">
						
					</div> <!-- end filters sidebar -->
					<div class="pure-u-1 pure-u-md-17-24 results-list">
						
					</div>
				</div>

			</div>
		</form>
		<form method="POST" class="mobile-search-bar hide-for-large hide-for-medium" action="">
			<div class="fusion-container">
				<div class="pure-g row">
					<div class="pure-u-1">
						<a class="close">x</a>
					</div>
				</div>
				<div class="pure-g row">
					<div class="pure-u-1 nav-wrap">
						<nav class="gradient-bg">
							<ul>
								<li><a>Hotels</a></li>
								<li><a>Hotels + Flight</a></li>
							</ul>
						</nav>
						<div class="gradient-bg nav-fill hide-for-medium hide-for-small"></div>
					</div>
					
				</div>
				<div class="pure-g row">
					<div id="mobile-dates" class="fusion-dates" data-date-output="#mobile-dates .fusion-date-checkin,#mobile-dates .fusion-date-checkout">
						<div class="pure-u-1-2 section check-in-wrap fusion-date-checkin">
							<h4 class="gray">Check-In</h4>
							<div class="fusion-date-custom date"><span class="number">21</span> / June</div>
							<a><i class="icon icon-arrow-down"></i></a>
							<input id="fusion-checkin" class="pure-input-1 curved ie-curved fusion-readonly dark fusion-date-input" value="Arrive" type="text" readonly="readonly" hidden>
						</div>
						<div class="pure-u-1-2 section check-out-wrap fusion-date-checkout">
							<h4 class="gray">Check-Out</h4>
							<div class="fusion-date-custom date"><span class="number">27</span> / June</div>
							<a><i class="icon icon-arrow-down"></i></a>
							<input id="fusion-checkout" class="pure-input-1 curved ie-curved fusion-readonly dark fusion-date-input" value="Depart" type="text" readonly="readonly" hidden>
						</div>
					</div>
				</div>
				<div class="pure-g row">
					<div class="pure-u-1">
						<hr>
					</div>
				</div>
				<div class="pure-g row">
					<div class="pure-u-1-2 section">
						<h4 class="gray">Guests</h4>
						<a href=""><i class="icon icon-arrow-down right"></i></a>
						<div class="date"><span class="number">02</span></div>
					</div>
					<div class="pure-u-1-2 section">
						<h4 class="gray">Rooms</h4>
						<a href=""><i class="icon icon-arrow-down right"></i></a>
						<div class="date"><span class="number">01</span></div>
					</div>
				</div>
				<div class="pure-g row">
					<div class="pure-u-1">
						<hr>
					</div>
				</div>
				<div class="pure-g row">
					<div class="pure-u-1">
						<h4 class="gray">Area</h4>
						<div class="fusion-select">
							<i class="icon icon-arrow-down-small"></i>
							<select name="area" id="area">
								<option value="recommended" selected>All Cancun</option>
								<option value="price-low">Price - Low</option>
								<option value="price-high">Price - High</option>
							</select>
						</div>
					</div>
					<div class="pure-g row">
						<div class="pure-u-1">
							<button class="yellow-bg">
								Go!
							</button>
						</div>
					</div>
					<div class="pure-g row">
						<div class="pure-u-1">
							<a class="more-filters">
								+ More filters
							</a>
						</div>
					</div>
					<div class="additional-filters" style="display: none;">
						<div class="pure-g row">
							<div class="pure-u-1">
								<h3>Filters</h3>
							</div>
						</div>
						<div class="pure-g row">
							<div class="pure-u-1 filters-sidebar">
								<input type="hidden" name="price-range" value="">
								<input type="hidden" name="star-rating" value="">
								<input type="hidden" name="tripadvisor-rating" value="">
								<label for="price-range">Price Range per night</label>
								<div id="mobile-price-range"></div>
								<div class="section-wrap">
									<div class="price-low left">from: $530</div>
									<div class="price-high right">to: $<span id="mobile-price-high-value">1,700</span></div>
								</div>
								<input type="hidden" name="priceValue" id="mobile-priceValue" value="1700">
								<hr>
								<div class="section-wrap">
									<label for="star-rating">Star rating  <i class="icon icon-star"></i><i class="icon icon-star"></i><i class="icon icon-star"></i><i class="icon icon-star"></i><i class="icon icon-star"></i></label>
									<div id="mobile-star-rating"></div>
									<div class="value-wrap">
										<div class="star-low left">from: 2.0</div>
										<div class="star-high right">to: <span id="mobile-star-rating-value">4.8</span></div>
									</div>
								</div>
								<input type="hidden" name="starValue" id="mobile-starValue" value="4.8">
								<hr>
								<div class="section-wrap">
									<label for="tripadvisor-rating">TripAdvisor rating  <i class="icon icon-tripadvisor"></i></label>
									<div id="mobile-tripadvisor-rating"></div>
									<div class="value-wrap">
										<div class="star-low left">from: 2.5</div>
										<div class="star-high right">to: <span id="mobile-tripadvisor-rating-value">4.8</span></div>
									</div>
								</div>
								<input type="hidden" name="tripAdvisorValue" id="mobile-tripAdvisorValue" value="4.8">
								<hr>
								<h5>Amenities</h5>
								<label><input type="checkbox" name="amenities" value="wifi"> Wireless internet (89)</label>
								<label><input type="checkbox" name="amenities" value="pool"> Pool(s) (83)</label>
								<label><input type="checkbox" name="amenities" value="beach"> Beach (51)</label>
								<a href="">See more...</a>
								<hr>
								<h5>Meal Plan</h5>
								<label><input type="checkbox" name="meal-plan" value="all inclusive"> All Inclusive (33)</label>
								<label><input type="checkbox" name="meal-plan" value="room only"> Room Only (43)</label>
								<label><input type="checkbox" name="meal-plan" value="continental breakfast"> Continental Breakfast Include (10)</label>
								<a href="">See more...</a>
								<hr>
								<h5>Theme</h5>
								<label><input type="checkbox" name="theme" value="all inclusive"> All Inclusive (33)</label>
								<label><input type="checkbox" name="theme" value="beach"> Beach (63)</label>
								<label><input type="checkbox" name="theme" value="family"> Family (37)</label>
								<a href="">See more...</a>
								<hr>
								<h5>City/Zone</h5>
								<label><input type="checkbox" name="city-zone" value="cancun hotel zone carribbean sea"> Cancun Hotel Zone Caribbean Sea (33)</label>
								<label><input type="checkbox" name="city-zone" value="punta cancun cancun hotel zone"> Punta Cancun Cancun Hotel Zone (5)</label>
								<label><input type="checkbox" name="city-zone" value="puerto juare cancun hotel zone"> Puerto Juare Cancun Hotel Zone (37)</label>
								<a href="">See more...</a>
								<hr>
								<h5>Chain</h5>
								<label><input type="checkbox" name="theme" value="oasis"> Oasis (5)</label>
								<label><input type="checkbox" name="theme" value="playa resorts"> Playa Resorts (4)</label>
								<label><input type="checkbox" name="theme" value="beach"> Secrets (2)</label>
								<a href="">See more...</a>
								<hr>
							</div> 
						</div>
						<div class="pure-g row button-row">
							<div class="pure-u-1-2">
								<a class="button yellow-bg">Go!</a>
							</div>
							<div class="pure-u-1-2">
								<a class="button close">Cancel</a>
							</div>
						</div>
						<div class="pure-g row">
							<div class="pure-u-1">
								<p><a class="hide-filters">- Hide filters</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</main>
{% endblock %}{% block foot %} {{ parent() }}
	<script src="public_html/js/site-search/search-results.js?version=1"></script>
{% endblock %}