/* Banner styles */
#banner {
    background:url(../../images/master/banner.jpg);
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}
#banner .icon-logo {
    background-position: -10px -1241px;
    width: 118px;
    height: 54px;
}
#fusion #banner nav.top ul li a {
    color: #fff;
    text-shadow: 2px 2px 2px #404040;
}

/* DESKTOP - Tablet */
@media (min-width: 768px) {
    #banner {
        height: 702px;
    }
}


/* DESKTOP */
@media(min-width: 1040px) {

}

/* TABLET */
@media (min-width: 768px) and (max-width: 1039px) {

}

/* MOBILE */
@media (max-width: 766px) {

}