#fusion .f-map {
	position: relative;
	height: 400px;
}

#fusion .f-map-box {
	background: #FFFFFF;
	box-shadow: 0 5px 14px 0 rgba(0,0,0,0.10);
	border-radius: 3px;
}

#fusion .f-map-sort,
#fusion .f-map-zoom,
#fusion .f-map-sort .icon,
#fusion .f-map-canvas {
	position: absolute;
	margin: auto;
}

#fusion .f-map-sort,
#fusion .f-map-zoom {
	top: 10px;
}

#fusion .f-map-canvas {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#fusion .f-map-sort {
	left: 10px;
	/*width: 330px;*/
	width: 175px;
}

#fusion .f-map-sort .icon {
	top: 0;
	bottom: 0;
	right: 15px;
}

#fusion .f-map-sort select {
	/*font-size: 20px;*/
	font-size: 14px;
	/*line-height: 50px;*/
	line-height: 35px;
	/*padding: 0 45px 0 20px;*/
	padding: 10px 30px 10px 20px;
	border: 0;
}

#fusion .f-map-zoom {
	cursor: pointer;
	right: 10px;
	width: 28px;
	text-align: center;
	font-size: 24px;
}

#fusion .f-map-zoom-in:before,
#fusion .f-map-zoom-out:before {
	line-height: 27px;
	display: block;
}

#fusion .f-map-zoom-in:before {
	content: '+';
}

#fusion .f-map-zoom-out:before {
	content: '-';
}