#fusion .pika-single,
#fusion .pika-single * {
     border: 0;
}

#fusion .pika-single:before,
#fusion .pika-single:after {
     content: " ";
     display: table;
}

#fusion .pika-single,
#fusion .pika-button span,
#fusion .pika-button {
     position: relative;
}

#fusion .pika-prev,
#fusion .pika-next,
#fusion .pika-button:before,
#fusion .pika-single.is-bound {
     position: absolute;
}

#fusion .pika-single {
     display: inline-block;
     margin-top: -1px;
     background: #FFFFFF;
     opacity: 1;
     width: 360px;
     -webkit-transition: opacity 0.3s,top 0.2s linear;
     -o-transition: opacity 0.3s,top 0.2s linear;
     transition: opacity 0.3s,top 0.2s linear;
}

#fusion .pika-single:after {
     clear: both
}

body #date-overlay,
#fusion .pika-single.is-hidden,
#fusion .pika-single .pika-title select,
#fusion .pika-single .is-empty span {
     display: none;
}

body.dates-active .pika-single.active {
     opacity: 1;
     visibility: visible;
     z-index: 1001;
}

body.dates-active #date-overlay {
     display: block;
     position: fixed;
     width: 100%;
     height: 100%;
     z-index: 1000;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background-color: transparent;
}

#fusion .pika-title {
     text-transform: uppercase;
     position: relative;
     padding-bottom: 15px;
}

#fusion .pika-prev,
#fusion .pika-next {
     opacity: 1;
     display: block;
     cursor: pointer;
     top: 0;
}

#fusion .pika-prev {
     left: 0;
}

#fusion .pika-next {
     right: 0;
}

#fusion .pika-prev.is-disabled,
#fusion .pika-next.is-disabled {
     opacity: 0;
}

#fusion .pika-table {
     width: 100%;
     border-collapse: collapse;
     border-spacing: 0;
     border: 0;
}

#fusion .pika-table th,
#fusion .pika-table td {
     width: 14.285714285714286%;
     padding: 0;
     font-weight: normal;
}

#fusion .pika-week,
#fusion .pika-table th,
#fusion .is-empty span,
#fusion .pika-button {
     text-align: center;
     line-height: 30px;
}

#fusion .is-empty span,
#fusion .pika-button {
     cursor: pointer;
     display: block;
     color: $default;
}

#fusion .pika-button {
     content: '';
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 25px;
     height: 25px;
}

#fusion .is-empty span,
#fusion .pika-single .pika-title select,
#fusion .is-disabled .pika-button {
     pointer-events: none;
     cursor: default;
     opacity: 0.6;
}

#fusion .pika-single .is-startrange .pika-button,
#fusion .pika-single .is-endrange .pika-button,
#fusion .pika-single .is-hovering .pika-button,
#fusion .pika-single .is-inrange .pika-button {
     opacity: 1;
}

#fusion .pika-single .is-startrange .pika-button,
#fusion .pika-single .is-endrange .pika-button {
     background: #42B299;
     color: #FFFFFF;
}

#fusion .pika-single .is-hovering .pika-button,
#fusion .pika-single .is-inrange .pika-button {
     background: #F9F9F9;
}

#fusion .pika-single.is-hidden {
     opacity: 0;
     visibility: hidden;
     position: absolute;
     overflow: hidden;
     clip: rect(0 0 0 0);
     height: 1px;
     width: 1px;
     margin: -1px;
     padding: 0;
     border: 0;
}