{% extends '/views/includes/page.html' %} {% block title %}Cancun.com{{ parent() }}{% endblock %}{% block head %} {{ parent() }}
<link rel="stylesheet" href="https://cdn.rawgit.com/nolimits4web/Swiper/d9f17789/dist/css/swiper.min.css">
<link rel="stylesheet" href="public_html/css/master/master.css"> 
{% endblock %} {% block main %}
	<div class="fusion-container">
		<h1>Cancun is <br>waiting for <br>you</h1>
		<a href="" class="button yellow-bg">Book your trip!</a>
	</div>
</div><!-- end #banner -->
	<main id="home">
		<div class="fusion-container">
			<h2>Choose your Cancun experience</h2>
			<div class="swiper-container gallery-experience">
				<div class="swiper-wrapper">
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/outdoor.jpg)"">
		            	<a href="">
		            		<p>Outdoor <br>
		            		adventure</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/family.jpg)"">
		            	<a href="">
		            		<p>Family <br>
		            		fun</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/recharge.jpg)"">
		            	<a href="">
		            		<p>Recharge <br>
		            		and relax</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/cultural.jpg)"">
		            	<a href="">
		            		<p>Cultural <br>
		            		exploration</p>
		            	</a>
		            </div>
		        </div>
		        <!-- Add Arrows -->
		        <div class="swiper-overlay"></div>
		        <div class="button-next"><i class="icon icon-arrow-right"></i></div>
			</div>
			
			 
		</div>
		<div class="map">
			<h2>Top Destinations</h2>
			<img src="public_html/images/master/map.jpg" alt="">
		</div>
		<div class="fusion-container">
			<h2 class="margin-top">On Land</h2>
			<div class="swiper-container gallery-land">
				<div class="swiper-wrapper">
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/ruins.jpg)">
		            	<a href="">
		            		<p>Ancient <br>
		            		ruins</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/cenotes.jpg)">
		            	<a href="">
		            		<p>Cenotes</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/golfing.jpg)">
		            	<a href="">
		            		<p>Golfing</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/local-culture.jpg)">
		            	<a href="">
		            		<p>Local <br>
		            		culture</p>
		            	</a>
		            </div>
		        </div>
		        <!-- Add Arrows -->
		        <div class="swiper-overlay"></div>
		        <div class="button-next"><i class="icon icon-arrow-right"></i></div>
			</div>
			
			<h2 class="margin-top">At sea</h2>
			<div class="swiper-container gallery-sea">
				<div class="swiper-wrapper">
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/parasailing.jpg)">
		            	<a href="">
		            		<p>Parasailing</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/dolphins.jpg)">
		            	<a href="">
		            		<p>Swim with <br>
		            		dolphins</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/snorkeling.jpg)">
		            	<a href="">
		            		<p>Snorkeling <br>
		            		and scuba</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/kayaking.jpg)">
		            	<a href="">
		            		<p>Kayaking</p>
		            	</a>
		            </div>
		        </div>
		        <!-- Add Arrows -->
		        <div class="swiper-overlay"></div>
		        <div class="button-next"><i class="icon icon-arrow-right"></i></div>
			</div>
			<h2 class="margin-top">Group guides</h2>
			<div class="swiper-container small-gallery gallery-guides">
				<div class="swiper-wrapper">
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/weddings.jpg)">
		            	<a href="">
		            		<p>Weddings</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/reunions.jpg)">
		            	<a href="">
		            		<p>Reunions</p>
		            	</a>
		            </div>
		            <div class="swiper-slide" style="background-image:url(public_html/images/master/group-trips.jpg)">
		            	<a href="">
		            		<p>Group <br>
		            		trips</p>
		            	</a>
		            </div>

		        </div>
			</div>
			<h2 class="margin-top">Know before you go</h2>
			<div class="swiper-container thirds-gallery gallery-know">
				<div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<a href="">
		            		<img src="public_html/images/master/GettingAround.png" alt="">
		            		<div class="content">
		            			Getting around
		            			<div class="line"></div>
		            		</div>
		            	</a>
		            </div>
		            <div class="swiper-slide">
		            	<a href="">
		            		<img src="public_html/images/master/ProTips.png" alt="">
		            		<div class="content">
		            			Cancun pro tips
		            			<div class="line"></div>
		            		</div>
		            	</a>
		            </div>
		            <div class="swiper-slide">
		            	<a href="">
		            		<img src="public_html/images/master/GettingAround.png" alt="">
		            		<div class="content">
		            			Getting around
		            			<div class="line"></div>
		            		</div>
		            	</a>
		            </div>

		        </div>
			</div>
			 <h2 class="margin-top">The blog</h2>
			<div class="swiper-container thirds-gallery gallery-blog">
				<div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<a href="">
		            		<img src="public_html/images/master/sights.jpg" alt="">
		            		<div class="content">
		            			Top 10 sights to see while in Cancun 
		            			<div class="pure-g row auth-info">
		            				<div class="pure-u-1-2">
		            					Emily Golightly
		            				</div>
		            				<div class="pure-u-1-2 date">
		            					July 21, 2017
		            				</div>
		            			</div>
		            		</div>
		            	</a>
		            </div>
		            <div class="swiper-slide">
		            	<a href="">
		            		<img src="public_html/images/master/spring-break.jpg" alt="">
		            		<div class="content">
		            			How to “Spring Break” in peace and avoid the crowd
		            			<div class="pure-g row auth-info">
		            				<div class="pure-u-1-2">
		            					Emily Golightly
		            				</div>
		            				<div class="pure-u-1-2 date">
		            					July 21, 2017
		            				</div>
		            			</div>
		            		</div>
		            	</a>
		            </div>
		            <div class="swiper-slide">
		            	<a href="">
		            		<img src="public_html/images/master/maya-riviera.jpg" alt="">
		            		<div class="content">
		            			The best food in Maya Riviera
		            			<div class="pure-g row auth-info">
		            				<div class="pure-u-1-2">
		            					Emily Golightly
		            				</div>
		            				<div class="pure-u-1-2 date">
		            					July 21, 2017
		            				</div>
		            			</div>
		            		</div>
		            	</a>
		            </div>
		        </div>
			</div>
			<a href="" class="button yellow-bg experience">Experience more</a>
		</div>
	</main>
{% endblock %}{% block foot %} {{ parent() }}
	<!-- Swiper JS -->
	<script src="https://cdn.rawgit.com/nolimits4web/Swiper/d9f17789/dist/js/swiper.min.js"></script>
	<script src="public_html/js/master/master.js?version=1"></script>
{% endblock %}