{% extends '/views/includes/page.html' %} {% block title %}Cancun.com{{ parent() }}{% endblock %}{% block head %} {{ parent()
}}
<link rel="stylesheet" href="public_html/css/hotels/explore-regions.css"> {% endblock %} {% block main %}
<div id="explore-regions">
    <div class="pure-g">
        <div class="pure-u-6-24">
            <div class="side-nav-category">
                <h3>KNOWN FOR</h3>
                <ul class="known-for">
                    <li>
                        <i class="checkmark"></i>
                        <span>Beach Vibes</span>
                    </li>
                    <li>
                        <i class="checkmark"></i>
                        <span>Night Life</span>
                    </li>
                    <li>
                        <i class="checkmark"></i>
                        <span>Dining</span>
                    </li>
                    <li>
                        <i class="checkmark"></i>
                        <span>Shopping</span>
                    </li>
                    <li>
                        <i class="checkmark"></i>
                        <span>Nature</span>
                    </li>
                    <li>
                        <i class="checkmark"></i>
                        <span>Adult</span>
                    </li>
                    <li>
                        <i class="checkmark"></i>
                        <span>Family Fun</span>
                    </li>
                </ul>
            </div>
            <div class="side-nav-category">
                <h3>REGIONS</h3>
                <ul class="regions">
                    <li>Cancun</li>
                    <li>Chetumal</li>
                    <li>Chichen Itza</li>
                    <li>Cozumel</li>
                    <li>Holbox</li>
                    <li>Isla Mujeres</li>
                    <li>Merida</li>
                    <li>Riviera Maya</li>
                    <li>Yucatan</li>
                </ul>
            </div>
        </div>
        <div class="pure-u-14-24">
            <div class="summary-box pure-g">
                <div class="pure-u-1-2">
                    <h4>Get there by</h4>
                    <p class="info">Car or Taxi</p>
                    <p>2-3 hours by car or taxi to Chiquila, 20-30 minutes ferry to Holbox. There are no paved roads on the
                        island, so exploration is best done on foot, bicycle, dune buggy, or golf cart rental.</p>
                </div>
                <div class="pure-u-1-2">
                    <div>
                        <h4>Current Temp</h4>
                        <p class="info">82° Sunny</p>
                    </div>
                    <div class="pure-g" style="margin-top: 50px;">
                        <div class="pure-u-1-2">
                            <h4>Population</h4>
                            <p class="info">1,198</p>
                        </div>
                        <div class="pure-u-1-2">
                            <h4>Avg. Night Stay</h4>
                            <p class="info">$150 <a href="#">Find a hotel</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="topic-header">ON THE MAP</h3>
                <img src="public_html/images/hotels/explore-regions/Rectangle 4.png" style="margin-top:10px">
            </div>
            <div>
                <h3 class="topic-header underlined">DESCRIPTION</h3>
                <p class="description">The deep waters between Playa del Carmen and Cozumel are ideal for scuba diving and sport fishing. The jungle
                    invites you to explore its magic while approaching an astonishing archeological site.Experiences are
                    nothing less than exciting.</p>
                <div class="pure-g img-group">
                    <div class="pure-u-1-2">
                        <img src="public_html/images/hotels/explore-regions/shutterstock_351927422.png" alt="">
                        <label>Beautiful beaches are only a short drive or even walk from the city center</label>
                    </div>
                    <div class="pure-u-1-2">
                        <img src="public_html/images/hotels/explore-regions/shutterstock_109745981.png" alt="">
                        <label>Almost endless recreation possibilities from scuba diving to wind surfing</label>
                    </div>
                </div>
                <p class="description">
                    Extreme sport lovers will enjoy every minute in Playa. You can choose from a great deal of water activities, such as swimming
                    at the beach or snorkeling, to more active sports like windsurfing, skydiving, sailing, or scuba diving
                    by the neighboring reefs or in caves. It can be just what you're looking for on your next vacation.
                </p>
                <p class="description">
                    Less extreme but equally exciting options include a boat or catamaran trip, a visit to one of the most beautiful ecological
                    parks in Mexico, Xcaret, a visit to the springs area in Puerto Aventuras, or the biggest natural aquarium
                    in the world, Xel-Ha.
                </p>
                <div>
                    <img src="public_html/images/hotels/explore-regions/shutterstock_247020064.png"></img>
                    <label>Beautiful beaches are only a short drive or even walk from the city center</label>
                </div>
                <h3 class="topic-header underlined">BY NIGHT</h3>
                <p class="description">
                    The white sand beaches and crystal-clear waters are the perfect respite from the fun insomnia caused by Caribbean nights.After
                    one or many days of activity, let the breezes cool you off and the sun caress you. Get ready: afternoons
                    and evenings offer an endless number of places for food, dancing, a beach party, and clubbing with the
                    best ambience in all the Caribbean.
                </p>
            </div>
            <div>
                <img src="public_html/images/hotels/explore-regions/Group 4.png" alt="">
            </div>
            <div>
                <img src="public_html/images/hotels/explore-regions/BLOG.png" alt="">
            </div>
        </div>
        <div class="pure-u-4-24">google ad placed here</div>
    </div>
</div>
<script src="public_html/js/hotels/explore-regions.js"></script>
{% endblock %}{% block foot %} {} {% endblock %}