{% extends '/views/includes/page.html' %}
{% block title %}
    Weddings -
    {{ parent()}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="public_html/css/hotels/weddings.css"> 
{% endblock %}
{% block main %}
<div id="wedding">
    <div class="header-stuff hide-for-small fusion-container">
        <div class="desktop-title hide-for-small">Weddings</div>
        <div class="big-underline hide-for-small"></div>
        <div class="desktop-text hide-for-small">What better setting to celebrate such a memorable occasion, than the white sandy beaches of Cancun?</div>
    </div>

    <div class="body fusion-container">
        <div class="left-col">
            <div class="title">TRIP PLANNING</div>
            <div class="gray-underline hide-for-large"></div>
            <div class="left-item">Weddings</div>
            <div class="left-item">Spring Break</div>
            <div class="left-item">Group Tips</div>
            <div class="left-item">Suggested Itineraries</div>
            <div class="left-item">Cancun Travel Tips</div>
        </div>
        <div class="center-col">

            <div class="head">
                <div class="mobile-title hide-for-large">Weddings</div>
                <div class="little-underline hide-for-large"></div>
                <div class="mobile-text hide-for-large">What better setting to celebrate such a memorable, than the white sandy beaches of Cancun?</div>
            </div>
            <div class="main">
                <div class="title-container">
                    <div class="title">WHY HAVE A WEDDING HERE</div>
                    <span class="minus hide-for-large invisible">-</span>
                    <span class="plus hide-for-large">+</span>
                </div>
                <div class="mobile-box visible">
                    <div class="text">There is nothing quite like the ambiance of blue skies, white sand and swaying palm trees. Your wedding
                        will not only be dreamy perfection, but will be an enjoyable and memorable experience for all of
                        your loved ones and friends.</div>
                    <div class="pic-row">
                        <div class="card">
                            <img class="half-pic" src="/cancun/public_html/images/hotels/weddings/couple.png">
                            <div class="card-text">The white sand beaches and crystal blue waters provide a literal dreamy backdrop.</div>
                        </div>
                        <div class="card">
                            <img class="half-pic" src="/cancun/public_html/images/hotels/weddings/weddingawning.png">
                            <div class="card-text">Sea breeze and fresh cut flowers can gently waft over the event.</div>
                        </div>
                    </div>
                    <div class="text">There is nothing quite like the ambiance of blue skies, white sand and swaying palm trees. Your wedding
                        will not only be dreamy perfection, but will be an enjoyable and memorable experience for all of
                        your loved ones and friends.</div>
                    <div class="collapse hide-for-large">Collapse</div>

                </div>
                <div class="gray-underline hide-for-large"></div>
                <div class="title-container">
                    <div class="title">PLAN THE WEDDING</div>
                    <span class="minus hide-for-large invisible">-</span>
                    <span class="plus hide-for-large">+</span>
                </div>
                <div class="mobile-box visible">
                    <img class="full-img" src="/cancun/public_html/images/hotels/weddings/ceremony.png">
                    <div class="card-text caption">Beautiful beaches are only a short drive or even walk from the city-center.</div>
                    <div class="text">Lorem ipsum dolor sit amet, ac dictum, dictumst reprehenderit morbi massa quis, mi nascetur consectetuer
                        lorem feugiat hac, in vestibulum in. Suscipit morbi ligula. Vitae etiam nunc ipsum wisi mauris curabitur,
                        fringilla cras blandit quis sodales ultrices, accumsan massa in augue. Nulla sed magna sed vivamus,
                        pellentesque elit aliquam sit at.</div>
                    <div class="text">In facilisis. Scelerisque sem mauris, ac ac at aenean, ut scelerisque labore odio pretium, arcu ipsum
                        felis mi integer justo mi, risus malesuada sit. Vel donec reprehenderit semper at, eu in mollis mauris,
                        vitae est, eros nec egestas labore dolor vivamus, tincidunt sed vestibulum luctus ut gravida. Vehicula
                        elit diam placerat orci in et. Libero sem lectus adipiscing, ullamcorper quam lectus etiam cras nam,
                        rutrum eget ac mi lacus, mollis erat libero luctus scelerisque rhoncus leo, vel lorem ultrices lobortis
                        ut. Vehicula lectus sagittis et vestibulum quam pede, nec donec ut convallis ut a fames, per porttitor
                        a consectetuer proin ornare et, vitae non ac lectus nunc risus, augue urna morbi mi ac dui viverra.
                        Mauris purus et in, urna a non nulla, nonummy et.</div>
                    <img class="full-img" src="/cancun/public_html/images/hotels/weddings/chairs.png">
                    <div class="card-text caption">Beautiful beaches are only a short drive or even walk from the city-center.</div>
                    <div class="text">Lorem ipsum dolor sit amet, ac dictum, dictumst reprehenderit morbi massa quis, mi nascetur consectetuer
                        lorem feugiat hac, in vestibulum in. Suscipit morbi ligula. Vitae etiam nunc ipsum wisi mauris curabitur,
                        fringilla cras blandit quis sodales ultrices, accumsan massa in augue. Nulla sed magna sed vivamus,
                        pellentesque elit aliquam sit at.</div>
                    <div class="text">In facilisis. Scelerisque sem mauris, ac ac at aenean, ut scelerisque labore odio pretium, arcu ipsum
                        felis mi integer justo mi, risus malesuada sit. Vel donec reprehenderit semper at, eu in mollis mauris,
                        vitae est, eros nec egestas labore dolor vivamus, tincidunt sed vestibulum luctus ut gravida. Vehicula
                        elit diam placerat orci in et. Libero sem lectus adipiscing, ullamcorper quam lectus etiam cras nam,
                        rutrum eget ac mi lacus, mollis erat libero luctus scelerisque rhoncus leo, vel lorem ultrices lobortis
                        ut. Vehicula lectus sagittis et vestibulum quam pede, nec donec ut convallis ut a fames, per porttitor
                        a consectetuer proin ornare et, vitae non ac lectus nunc risus, augue urna morbi mi ac dui viverra.
                        Mauris purus et in, urna a non nulla, nonummy et.</div>
                    <div class="collapse hide-for-large">Collapse</div>

                </div>
                <div class="gray-underline hide-for-large"></div>
                <div class="title-container">
                    <div class="title">MARRIAGE REQUIREMENTS</div>
                    <span class="minus hide-for-large invisible">-</span>
                    <span class="plus hide-for-large">+</span>
                </div>
                <div class="mobile-box visible">
                    <div class="pic-row">
                        <div class="card">
                            <img class="half-pic" src="/cancun/public_html/images/hotels/weddings/smilecouple.png">
                            <div class="card-text">The white sand beaches and crystal blue waters provide a literal dreamy backdrop.</div>
                        </div>
                        <div class="card">
                            <img class="half-pic" src="/cancun/public_html/images/hotels/weddings/rings.png">
                            <div class="card-text">Sea breeze and fresh cut flowers can gently waft over the event.</div>
                        </div>
                    </div>
                    <div class="text">Lorem ipsum dolor sit amet, ac dictum, dictumst reprehenderit morbi massa quis, mi nascetur consectetuer
                        lorem feugiat hac, in vestibulum in. Suscipit morbi ligula. Vitae etiam nunc ipsum wisi mauris curabitur,
                        fringilla cras blandit quis sodales ultrices, accumsan massa in augue. Nulla sed magna sed vivamus,
                        pellentesque elit aliquam sit at.</div>
                    <div class="text">In facilisis. Scelerisque sem mauris, ac ac at aenean, ut scelerisque labore odio pretium, arcu ipsum
                        felis mi integer justo mi, risus malesuada sit. Vel donec reprehenderit semper at, eu in mollis mauris,
                        vitae est, eros nec egestas labore dolor vivamus, tincidunt sed vestibulum luctus ut gravida. Vehicula
                        elit diam placerat orci in et. Libero sem lectus adipiscing, ullamcorper quam lectus etiam cras nam,
                        rutrum eget ac mi lacus, mollis erat libero luctus scelerisque rhoncus leo, vel lorem ultrices lobortis
                        ut. Vehicula lectus sagittis et vestibulum quam pede, nec donec ut convallis ut a fames, per porttitor
                        a consectetuer proin ornare et, vitae non ac lectus nunc risus, augue urna morbi mi ac dui viverra.
                        Mauris purus et in, urna a non nulla, nonummy et.</div>
                    <div class="collapse hide-for-large">Collapse</div>

                </div>
                <div class="gray-underline hide-for-large"></div>
            </div>
        </div>
        <div class="right-col hide-for-small">
            <img class="right-ad" src="/cancun/public_html/images/hotels/weddings/Bitmap.png">
        </div>
    </div>




</div>



{% endblock %}{% block foot %} {{ parent() }}
<script src="/cancun/public_html/js/hotels/weddings.js"></script>
{% endblock %}